Source: popularity-contest
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Noel Alavarez <njesusas@gmail.com>, Petter Reinholdtsen <pere@debian.org>, Bill Allombert
	   <ballombe@debian.org>
Build-Depends: debhelper (>=5)
Homepage: http://popcon.debian.org/
Standards-Version: 3.9.3

Package: popularity-contest
Architecture: all
Pre-Depends: libchart-perl, debconf (>= 1.5.34) | cdebconf (>= 0.106)
Depends: ${misc:Depends}, ${perl:Depends}, dpkg (>= 1.10)
Recommends: cron | fcron, exim4 | mail-transport-agent
Suggests: anacron
Provides: popcon
Description: popularity contest es un intento de asignar el uso de 
 paquetes de Debian. Este paquete envia todas las semanas una lista 
 de los paquetes instalados y el tiempo de acceso a los archivos 
 pertinentes al servidor a traves de correo electrónico y los muestra
 en el sitio web. Todos los dias el servidor envuelve el resultado
 como anonimos y publica esta encuesta.
 Esta informacion ayuda a la toma de decisiones en Canaima GNU/Linux, 
 como que paquetes debe ir los CD de instalacion. Tambien le permite 
 mejorar las futuras versiones de Canaima de la distribucion de modo 
 que los paquetes mas populares son los que se instalan de forma 
 automática para los nuevos usuarios.
